.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 20px;
    background-color: #1a1a1a;
}

.loadingImage {
    animation: pulse 1.5s infinite ease-in-out;
}

.loadingText {
    margin-top: 20px;
    color: #FFD700;
    font-size: 1.5rem;
    font-family: var(--font-aclonica);
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}